USE [erp_smpc]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vw_get_sales_opportunities', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_sales_opportunities'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vw_get_sales_opportunities', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_sales_opportunities'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vw_get_CRM', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_CRM'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vw_get_CRM', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_CRM'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'GetWiringNotes', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'GetWiringNotes', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'GetWiringNotes', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
/****** Object:  View [dbo].[vw_sales_order_release_items]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_sales_order_release_items]
GO
/****** Object:  View [dbo].[vw_qqnotes]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_qqnotes]
GO
/****** Object:  View [dbo].[vw_purchase_order_status]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_purchase_order_status]
GO
/****** Object:  View [dbo].[vw_PumpSpecifications]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_PumpSpecifications]
GO
/****** Object:  View [dbo].[vw_latest_sales_quotation]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_latest_sales_quotation]
GO
/****** Object:  View [dbo].[vw_item_sales_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_item_sales_list]
GO
/****** Object:  View [dbo].[vw_item_purchasing_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_item_purchasing_list]
GO
/****** Object:  View [dbo].[vw_item_production_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_item_production_list]
GO
/****** Object:  View [dbo].[vw_item_additional_specs]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_item_additional_specs]
GO
/****** Object:  View [dbo].[vw_get_supplier_trade]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_supplier_trade]
GO
/****** Object:  View [dbo].[vw_get_sales_order_with_delivery_receipts]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_with_delivery_receipts]
GO
/****** Object:  View [dbo].[vw_get_sales_order_pa]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_pa]
GO
/****** Object:  View [dbo].[vw_get_sales_order_item_release]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_item_release]
GO
/****** Object:  View [dbo].[vw_get_sales_order_ir]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_ir]
GO
/****** Object:  View [dbo].[vw_get_sales_order_engineering]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_engineering]
GO
/****** Object:  View [dbo].[vw_get_sales_order_dr_details]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_dr_details]
GO
/****** Object:  View [dbo].[vw_get_sales_order_dr]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_dr]
GO
/****** Object:  View [dbo].[vw_get_sales_order_details_engineering]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_order_details_engineering]
GO
/****** Object:  View [dbo].[vw_get_sales_opportunities]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_sales_opportunities]
GO
/****** Object:  View [dbo].[vw_get_purchasing_so_purchase_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_so_purchase_list]
GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_sales_order_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_redbox_sales_order_list]
GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_purchase_requisition_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_redbox_purchase_requisition_list]
GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_purchase_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_redbox_purchase_list]
GO
/****** Object:  View [dbo].[vw_get_purchasing_pr_purchase_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_pr_purchase_list]
GO
/****** Object:  View [dbo].[vw_get_purchasing_list_supplier]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_list_supplier]
GO
/****** Object:  View [dbo].[vw_get_purchasing_guiding_price]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_guiding_price]
GO
/****** Object:  View [dbo].[vw_get_purchasing_closed_po]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_closed_po]
GO
/****** Object:  View [dbo].[vw_get_purchasing_canvass_sheet_so]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_canvass_sheet_so]
GO
/****** Object:  View [dbo].[vw_get_purchasing_active_po]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchasing_active_po]
GO
/****** Object:  View [dbo].[vw_get_purchase_order]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_purchase_order]
GO
/****** Object:  View [dbo].[vw_get_item_available_inventory]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_item_available_inventory]
GO
/****** Object:  View [dbo].[vw_get_inventory_tracker]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_inventory_tracker]
GO
/****** Object:  View [dbo].[vw_get_inventory_logbook]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_inventory_logbook]
GO
/****** Object:  View [dbo].[vw_get_entity_count]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_entity_count]
GO
/****** Object:  View [dbo].[vw_get_engineering_redbox_quotation_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_engineering_redbox_quotation_list]
GO
/****** Object:  View [dbo].[vw_get_CRM]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_CRM]
GO
/****** Object:  View [dbo].[vw_get_coa_setup]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_coa_setup]
GO
/****** Object:  View [dbo].[vw_get_chart_of_account]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_chart_of_account]
GO
/****** Object:  View [dbo].[vw_get_bpi_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_list]
GO
/****** Object:  View [dbo].[vw_get_bpi_history]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_history]
GO
/****** Object:  View [dbo].[vw_get_bpi_general_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_general_list]
GO
/****** Object:  View [dbo].[vw_get_bpi_finance_pending]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_finance_pending]
GO
/****** Object:  View [dbo].[vw_get_bpi_customers]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_customers]
GO
/****** Object:  View [dbo].[vw_get_bpi_contacts]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_contacts]
GO
/****** Object:  View [dbo].[vw_get_bpi_adddress]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_adddress]
GO
/****** Object:  View [dbo].[vw_get_bpi_accreditations]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bpi_accreditations]
GO
/****** Object:  View [dbo].[vw_get_bin_loc_pick_activity]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bin_loc_pick_activity]
GO
/****** Object:  View [dbo].[vw_get_all_user_list]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_all_user_list]
GO
/****** Object:  View [dbo].[vw_get_all_item_bom]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_all_item_bom]
GO
/****** Object:  View [dbo].[vw_get_all_item]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_all_item]
GO
/****** Object:  View [dbo].[vw_get_active_warehouse]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_active_warehouse]
GO
/****** Object:  View [dbo].[vw_get_active_sales_order]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_active_sales_order]
GO
/****** Object:  View [dbo].[vw_ComputedCanvasView]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_ComputedCanvasView]
GO
/****** Object:  View [dbo].[vw_CanvasSheet]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_CanvasSheet]
GO
/****** Object:  View [dbo].[vw_bpi_items]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_bpi_items]
GO
/****** Object:  View [dbo].[GetWiringNotes]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[GetWiringNotes]
GO
/****** Object:  View [dbo].[GetBpiList]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiList]
GO
/****** Object:  View [dbo].[GetBpiItemList]    Script Date: 2/19/2026 10:44:41 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiItemList]
GO
/****** Object:  View [dbo].[GetBpiGeneralList]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiGeneralList]
GO
/****** Object:  View [dbo].[GetBpiContacts]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiContacts]
GO
/****** Object:  View [dbo].[GetBpiAddress]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiAddress]
GO
/****** Object:  View [dbo].[get_bpi_history]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[get_bpi_history]
GO
/****** Object:  View [dbo].[GetProjectComponents]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetProjectComponents]
GO
/****** Object:  View [dbo].[GetBpiCustomer]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiCustomer]
GO
/****** Object:  View [dbo].[GetBpiSuppliers]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[GetBpiSuppliers]
GO
/****** Object:  View [dbo].[vw_get_tax_setup]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_tax_setup]
GO
/****** Object:  View [dbo].[vw_get_tax_setup_details]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_tax_setup_details]
GO
/****** Object:  View [dbo].[vw_bpi_item_list]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_bpi_item_list]
GO
/****** Object:  View [dbo].[vw_get_item_bom]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_item_bom]
GO
/****** Object:  View [dbo].[vw_get_bom_list]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_get_bom_list]
GO
/****** Object:  View [dbo].[vw_item_bom_list]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_item_bom_list]
GO
/****** Object:  View [dbo].[vw_items]    Script Date: 2/19/2026 10:44:42 AM ******/
DROP VIEW IF EXISTS [dbo].[vw_items]
GO
/****** Object:  View [dbo].[vw_items]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_items] AS
SELECT 
	a.id,
    a.item_name_id,
	a.short_desc,
	a.item_class_id,
	a.item_brand_id,
	a.unit_of_measure_id,
	a.item_tangibility_type,
	a.item_model,
	a.catalogue_year,
	a.price,
	a.item_code,
	a.is_stop_selling,
	a.item_description,
    b.name AS item_name,  
    d.name AS item_class,
    e.name AS item_brand,
    f.name AS unit_of_measure,
	g.trade_type_id,
	g.trade_type_names
FROM tbl_setup_item a
    LEFT JOIN tbl_setup_item_name b ON a.item_name_id = b.id
    LEFT JOIN tbl_setup_item_class d ON a.item_class_id = d.id
    LEFT JOIN tbl_setup_item_brand e ON a.item_brand_id = e.id
    LEFT JOIN tbl_setup_item_unit_measurement f ON a.unit_of_measure_id = f.id
    LEFT JOIN (

		SELECT
			ISNULL(STRING_AGG(b.trade_type_id, ','), '') AS trade_type_id,
			ISNULL(STRING_AGG(b.name, ','), '') AS trade_type_names,
			b.item_id
		FROM tbl_setup_item_trade_type a
		LEFT JOIN (
			SELECT 
				aa.item_id,
				bb.id AS trade_type_id,
				bb.name
			FROM tbl_setup_item_trade_type aa
			LEFT JOIN tbl_setup_item_type bb ON aa.trade_type_id = bb.id
			GROUP BY aa.item_id, bb.id, bb.name
		) b ON a.item_id = b.item_id AND a.trade_type_id = b.trade_type_id
		GROUP BY b.item_id

) g ON a.id = g.item_id

GO
/****** Object:  View [dbo].[vw_item_bom_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE VIEW  [dbo].[vw_item_bom_list] AS   
  
 SELECT  
 a.id,  
 a.item_bom_id,  
 a.item_id,  
 b.item_model as size,  
 a.unit_price,  
 a.net_price,  
 a.bom_qty,  
 c.item_name,  
 b.item_code,  
 b.short_desc,  
 d.name as uom_name  
 FROM tbl_setup_item_bom_details  a  
 LEFT JOIN tbl_setup_item b ON a.item_id = b.id  
 LEFT JOIN vw_items c ON a.item_id = c.id  
 LEFT JOIN tbl_setup_item_unit_measurement d ON b.unit_of_measure_id = d.id  
 LEFT JOIN tbl_setup_item_additional_specs e ON a.item_id = e.based_id 
GO
/****** Object:  View [dbo].[vw_get_bom_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_get_bom_list] AS 
SELECT
   a.id,
   a.item_id,
   a.production_qty,
   a.production_type,
   b.short_desc,
   a.man_days,
   a.labor_rate,
   a.production_cost,
   b.item_model,
   b.item_code,
   c.name as general_name
FROM tbl_setup_item_bom a
LEFT JOIN tbl_setup_item b ON a.item_id = b.id
LEFT JOIN tbl_setup_item_name c ON b.item_name_id = c.id
GO
/****** Object:  View [dbo].[vw_get_item_bom]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_get_item_bom] AS
SELECT TOP 2147483647
    si.id AS item_id,
    itas.long_description AS short_desc,
    si.item_code,
    si.item_model,
    itn.name AS general_name,
    itas.size,
    ium.name AS uom_name
FROM tbl_setup_item si
LEFT JOIN tbl_setup_item_name itn 
    ON si.item_name_id = itn.id
LEFT JOIN tbl_setup_item_additional_specs itas
    ON si.id = itas.based_id
LEFT JOIN tbl_setup_item_unit_measurement ium
    ON si.unit_of_measure_id = ium.id
WHERE si.item_code NOT IN (
    SELECT item_code 
    FROM vw_get_bom_list
    WHERE item_code IS NOT NULL
)
ORDER BY si.id ASC
GO
/****** Object:  View [dbo].[vw_bpi_item_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_bpi_item_list] AS

SELECT 
    a.id,
    ISNULL(a.trade_type_names, '') + ',' + ISNULL(a.item_tangibility_type, '') AS item_type,
    a.item_code,
    a.item_name AS general_name,
    a.item_model AS item_model_name,
    a.item_brand AS item_brand_name,
	b.long_description,
    a.price AS item_price
FROM vw_items a
LEFT JOIN tbl_setup_item_additional_specs b on a.id = b .based_id
GO
/****** Object:  View [dbo].[vw_get_tax_setup_details]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_tax_setup_details]
AS
SELECT
    a.id,
    a.tax_code_id,
    a.valid_from,
    a.valid_to,
    a.tax_rate,
    CASE
        -- VALID_TO IS EMPTY ('' or NULL)
        WHEN NULLIF(a.valid_to, '') IS NULL
             AND CAST(GETDATE() AS DATE) >= a.valid_from
            THEN 'ACTIVE'

        WHEN NULLIF(a.valid_to, '') IS NULL
             AND CAST(GETDATE() AS DATE) < a.valid_from
            THEN 'INACTIVE'

        -- VALID_TO HAS VALUE
        WHEN CAST(GETDATE() AS DATE) BETWEEN a.valid_from AND a.valid_to
            THEN 'ACTIVE'

        WHEN CAST(GETDATE() AS DATE) < a.valid_from
            THEN 'FUTURE'

        WHEN CAST(GETDATE() AS DATE) > a.valid_to
            THEN 'INACTIVE'
    END AS valid_status
FROM tbl_setup_tax_details a;
GO
/****** Object:  View [dbo].[vw_get_tax_setup]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_tax_setup] AS
SELECT
    a.id AS view_id,
    a.code,
    a.tax_desc,
    a.coa_purchase_id AS coa_purch_id,
    b.name AS output_tax_account,
    a.coa_sales_id AS coa_sales_id,
    c.name AS input_tax_account,
    d.tax_rate,
    CASE 
        WHEN d.valid_to IS NULL OR LTRIM(RTRIM(d.valid_to)) = '' 
            THEN CONCAT(d.valid_from, ' - INDEFINITE')
        ELSE 
            CONCAT(d.valid_from, ' - ', d.valid_to)
    END AS effective_period,
    COALESCE(e.type, f.type) AS account_type
FROM tbl_setup_tax a
LEFT JOIN tbl_setup_chart_of_accounts b 
    ON a.coa_sales_id = b.id
LEFT JOIN tbl_setup_chart_of_accounts c 
    ON a.coa_purchase_id = c.id
LEFT JOIN vw_get_tax_setup_details d 
    ON a.id = d.tax_code_id
LEFT JOIN tbl_setup_chart_class e 
    ON b.class_id = e.id
LEFT JOIN tbl_setup_chart_class f 
    ON c.class_id = f.id
WHERE d.valid_status = 'ACTIVE'
GO
/****** Object:  View [dbo].[GetBpiSuppliers]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetBpiSuppliers] AS  
SELECT 
    tbl_bpi_general.id,  
    tbl_bpi_general.supplier_code,  
    tbl_bpi_items.based_id,  
    tbl_bpi_items.item_id,  
    vw_items.item_name,  
    tbl_bpi_items.price  
FROM 
    tbl_bpi_items  
JOIN 
    tbl_bpi_general ON tbl_bpi_items.based_id = tbl_bpi_general.based_id
LEFT JOIN 
    vw_items ON tbl_bpi_items.item_id = vw_items.id; 
GO
/****** Object:  View [dbo].[GetBpiCustomer]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetBpiCustomer] AS
SELECT
    p.id AS bpi_id,
    g.branch_name,
    g.customer_code
FROM
   tbl_bpi p
INNER JOIN tbl_bpi_general g
    ON p.id = g.based_id;
GO
/****** Object:  View [dbo].[GetProjectComponents]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[GetProjectComponents]
AS
SELECT 
    tbl_trans_sales_quotation.id AS quotation_id,
    tbl_trans_sales_quotation.project_name,
    tbl_trans_sales_quotation.customer_id,
    tbl_trans_sales_project_item_set.item_set_id AS set_id,
    tbl_trans_sales_project_item_set.based_id AS item_set_based_on_quotation_id,
    tbl_trans_sales_project_item_set.tab_number AS item_set_name,
    a.bom_id,
    a.item_id,
    a.model,
    a.items_id,
    a.qty,
    a.based_id AS based_on_set_id,
    a.components,
    a.node_id,
    a.node_name,
    a.node_order,
    a.node_type,
    a.parent_node_id,
    vw_items.item_name,
    vw_items.short_desc,
    c.size,
    a.component_total,
    vw_items.unit_of_measure,
    GetBpiCustomer.customer_code AS customer_name,
	d.id as boq_id,
	d.remarks,
	d.notes,
	e.wiring_note
FROM 
    tbl_trans_sales_quotation
JOIN 
    tbl_trans_sales_project_item_set ON tbl_trans_sales_quotation.id = tbl_trans_sales_project_item_set.based_id
LEFT JOIN 
    tbl_trans_sales_project_items a ON tbl_trans_sales_project_item_set.item_set_id = a.based_id
LEFT JOIN 
    vw_items ON a.item_id = vw_items.id
LEFT JOIN 
    tbl_setup_item_additional_specs c ON a.item_id = c.based_id
LEFT JOIN 
    GetBpiCustomer ON tbl_trans_sales_quotation.customer_id = GetBpiCustomer.bpi_id
LEFT JOIN
	tbl_setup_item_boq_details d ON a.items_id = d.items_id
LEFT JOIN
	tbl_wiring_user_inputs e ON a.items_id = e.items_id
GO
/****** Object:  View [dbo].[get_bpi_history]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[get_bpi_history] AS 
SELECT * FROM (

SELECT 
    a.id AS based_id,
	a.id AS branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(',', a.name, a.main_tel_no,a.main_website,a.tin) AS edit_history
FROM  z_tbl_bpi_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id

UNION ALL

SELECT 
	a.based_id,
	'' AS branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(', ', 
		a.branch_name,
		a.transaction_type,
		a.class_name, a.branch_tel_no,
		a.branch_website, a.customer_code, c.code,
		a.supplier_code, a.fax_no,a.notes) AS edit_history
FROM  z_tbl_bpi_general_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id
LEFT JOIN tbl_setup_social c ON a.social = c.id

UNION ALL

  SELECT 
	a.based_id,
	a.branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(', ', a.name, a.number,a.name,a.email, a.preferences,c.code) AS edit_history
FROM  z_tbl_bpi_contacts_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id
LEFT JOIN tbl_setup_social c ON a.position = c.id

UNION ALL

SELECT 
	a.based_id,
	a.branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS('', a.location, ' ') AS edit_history
FROM  z_tbl_bpi_address_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id

UNION ALL

SELECT 
	a.finance_based_id AS based_id,
	a.finance_branch_id AS branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(', ', a.finance_account_id, c.code) AS edit_history
FROM  z_tbl_bpi_finance_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id
LEFT JOIN tbl_setup_payment_terms c ON a.finance_payment_terms_id = c.id

UNION ALL

SELECT 
	a.based_id,
	a.branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(', ', a.tax_code, a.item_tax_code,  c.code, a.price ,a.notes,d.short_desc) AS edit_history
FROM  z_tbl_bpi_items_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id
LEFT JOIN tbl_setup_payment_terms c ON a.payment_terms_id = c.id
LEFT JOIN tbl_setup_item d ON a.item_id = d.id


UNION ALL

SELECT 
	a.based_id,
	a.branch_id,
	a.AT_DATE AS at_date,
    a.AT_ACTION AS actions,
	CONCAT_WS(',' , b.first_name,b.last_name) AS edit_by,
	CONCAT_WS(', ', a.date_added, a.file_name, a.accreditation_added_by) AS edit_history
FROM  z_tbl_bpi_accreditation_at a 
LEFT JOIN tbl_setup_users b ON a.AT_USER_ID = b.id

) a
WHERE a.at_date BETWEEN DATEADD(DAY, -7, CAST(GETDATE() AS DATE)) AND CAST(GETDATE() AS DATE)

GO
/****** Object:  View [dbo].[GetBpiAddress]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[GetBpiAddress] AS

SELECT 
	a.id AS address_id,
	a.based_id as address_based_id,
	a.location
FROM tbl_bpi_address a
GO
/****** Object:  View [dbo].[GetBpiContacts]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[GetBpiContacts] AS
 SELECT 
	a.id AS contacts_id,
	a.number,
	a.based_id AS  contacts_based_id ,
	a.name,
	a.email,
	a.preferences,
	a.position
FROM tbl_bpi_contacts a 
GO
/****** Object:  View [dbo].[GetBpiGeneralList]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
  
CREATE VIEW [dbo].[GetBpiGeneralList] AS  
  SELECT  
 a.id AS general_id,  
 a.based_id AS general_based_id,  
 a.social,  
 a.branch_name,
 a.is_main,
 a.transaction_type,  
 a.class_name,  
 a.branch_tel_no,  
 a.branch_website,  
 a.customer_code,  
 a.supplier_code,  
 a.fax_no,  
 a.notes,  
 a.sales_id AS branch_sales_id,  
 c.industry_ids AS branch_industry_ids,  
 c.industry_names AS branch_industry_names,  
 d.entity_ids,  
 d.entity_names  
FROM tbl_bpi_general a  
LEFT JOIN (  
 SELECT  
   ISNULL(STRING_AGG(b.industry_id, ','),'')  AS industry_ids,  
   ISNULL(STRING_AGG(b.code, ','),'') AS industry_names,  
   b.bpi_general_id  
  FROM tbl_bpi_branch_industries a  
  LEFT JOIN (  
   SELECT   
    bb.id,  
    aa.bpi_general_id,  
    bb.code,  
    aa.industry_id  
   FROM tbl_bpi_branch_industries aa  
   LEFT JOIN tbl_setup_bpi_industries bb ON aa.industry_id = bb.id  
   GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.industry_id   
  ) b ON a.bpi_general_id = b.bpi_general_id AND a.industry_id = b.id  
  GROUP by b.bpi_general_id  
) c ON a.id = c.bpi_general_id  
LEFT JOIN  
 (  
 SELECT  
   ISNULL(STRING_AGG(b.entity_id, ','),'')  AS entity_ids,  
   ISNULL(STRING_AGG(b.code, ','),'') AS entity_names,  
   b.bpi_general_id  
  FROM tbl_bpi_entity a  
  LEFT JOIN (  
    SELECT   
     bb.id,  
     aa.bpi_general_id,  
     bb.code,  
     aa.entity_id  
    FROM tbl_bpi_entity aa  
    LEFT JOIN tbl_setup_bpi_entity bb ON aa.entity_id = bb.id  
    GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.entity_id  
  ) b ON a.bpi_general_id = b.bpi_general_id AND a.entity_id = b.id  
  GROUP by b.bpi_general_id  
 ) d ON a.id = d.bpi_general_id  
GO
/****** Object:  View [dbo].[GetBpiItemList]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[GetBpiItemList] AS
SELECT 
	a.id,
	a.short_desc,
	a.item_code,
	b.name AS general_name,
	d.name AS item_brand_name
FROM tbl_setup_item a
LEFT JOIN tbl_setup_item_name b  ON a.item_name_id = b.id
LEFT JOIN tbl_setup_item_brand d ON a.item_brand_id = d.id
GO
/****** Object:  View [dbo].[GetBpiList]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[GetBpiList] AS
SELECT
        a.id AS id,
		a.sales_id,
        a.name AS name,
		a.main_website,
		a.tin,
		a.main_tel_no,
        c.industry_names,
        c.industry_ids
    FROM
        tbl_bpi a
    LEFT JOIN (
		SELECT
				ISNULL(STRING_AGG(b.industry_id, ','),'')  AS industry_ids,
				ISNULL(STRING_AGG(b.code, ','),'') AS industry_names,
				b.bpi_id
			FROM tbl_bpi_industries a
			LEFT JOIN (
				SELECT bb.id,
						aa.bpi_id,
						bb.code,
						aa.industry_id
				FROM tbl_bpi_industries aa
				LEFT JOIN tbl_setup_bpi_industries bb ON aa.industry_id = bb.id
				GROUP BY bb.id,aa.bpi_id,bb.code,aa.industry_id
			) b ON a.bpi_id = b.bpi_id AND a.industry_id = b.id
			GROUP by b.bpi_id
	) c on a.id = c.bpi_id

	WHERE ISNULL(c.industry_names,'') <> ''
GO
/****** Object:  View [dbo].[GetWiringNotes]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[GetWiringNotes]
AS
SELECT 
    a.id as wiring_id,
	a.based_id,
    a.materials,
	NULL AS item_description,
	a.num_of_wires_set,
	a.num_of_qty_set,
	a.distance_travelled_set,
	a.allowance_wire_set,
	a.num_of_sets,
	a.total_qty,
	d.note_id,
	d.wiring_note
FROM 
    tbl_trans_sales_project_wiring a
LEFT JOIN 
    tbl_trans_sales_project_item_set b ON a.based_id = b.item_set_id
LEFT JOIN
	tbl_wiring_user_inputs d ON a.id = d.wiring_id
GO
/****** Object:  View [dbo].[vw_bpi_items]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_bpi_items] AS

SELECT 
	a.id AS bpi_item_id,
	a.based_id AS bpi_item_based_id,
	a.payment_terms_id,
	a.item_account_id,
	a.tax_code,
	a.item_tax_code,
	a.price,
	a.notes,
	a.item_id,
	b.item_code,
	b.short_desc,
	b.item_tangibility_type AS status_tangible,
	c.trade_value AS status_trade,
	a.branch_id AS bpi_item_branch_id,
	a.is_deleted AS item_is_deleted

FROM tbl_bpi_items a 
LEFT JOIN tbl_setup_item b ON a.item_id = b.id
LEFT JOIN (
		
SELECT
				ISNULL(STRING_AGG(b.value, ','),'')  AS trade_value,   
				b.based_id
			FROM tbl_item_trade_type a
			LEFT JOIN (
					SELECT  bb.id,
							aa.based_id,
							aa.value
						
				FROM tbl_item_trade_type aa
				LEFT JOIN tbl_setup_item bb ON aa.based_id = bb.id
				GROUP BY bb.id,aa.based_id,aa.value

			) b ON a.based_id = b.based_id AND a.value = b.value
			GROUP by b.based_id


) c ON a.item_id = c.based_id
GO
/****** Object:  View [dbo].[vw_CanvasSheet]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CanvasSheet] AS
SELECT 
    id,
    start_date,
    validity AS TotalDays,
    DATEADD(DAY, validity, start_date) AS ExpirationDate,
    DATEDIFF(DAY, GETDATE(), DATEADD(DAY, validity, start_date)) AS RemainingDays,
    CASE 
        WHEN DATEDIFF(DAY, GETDATE(), DATEADD(DAY, validity, start_date)) > 0 
        THEN 'Active' 
        ELSE 'Expired' 
    END AS Status
FROM SalesCanvasSheet;

--SELECT * FROM vw_CanvasSheet;
GO
/****** Object:  View [dbo].[vw_ComputedCanvasView]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ComputedCanvasView] AS
SELECT 
    id,
    net_price,
    discount,
    unit_price,
    validity,
    lead_time,
    item_based_id,       -- Add this
    supplier_based_id,   -- Add this
    CASE 
        WHEN ISDATE(validity) = 1 THEN CAST(validity AS DATE)  
        ELSE DATEADD(DAY, CAST(validity AS INT), GETDATE())  
    END AS ExpirationDate,
    
    DATEDIFF(DAY, GETDATE(), 
        CASE 
            WHEN ISDATE(validity) = 1 THEN CAST(validity AS DATE)
            ELSE DATEADD(DAY, CAST(validity AS INT), GETDATE())
        END
    ) AS RemainingDays
FROM tbl_sales_canvas_sheet
WHERE net_price > 0;
GO
/****** Object:  View [dbo].[vw_get_active_sales_order]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_get_active_sales_order] AS

SELECT 
	a.order_id,
	a.date,
	a.delivery_date,
	a.status,
	c.name as customer_name

FROM tbl_trans_sales_order a
--LEFT JOIN tbl_trans_sales_order_details b ON a.order_id = b.based_id
LEFT JOIN tbl_bpi c ON a.customer_id = c.id
WHERE a.status = 'ACTIVE'




GO
/****** Object:  View [dbo].[vw_get_active_warehouse]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_active_warehouse] AS
SELECT *
FROM tbl_inv_warehouse_name
WHERE is_inactive = 0;
GO
/****** Object:  View [dbo].[vw_get_all_item]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_get_all_item] AS
SELECT
    a.id AS item_id,
    a.item_model AS short_desc,
    a.item_code,
    a.item_model,
    b.name AS general_name,
    c.size,
    d.name AS uom_name
FROM tbl_setup_item a
LEFT JOIN tbl_setup_item_name b 
    ON a.item_name_id = b.id
LEFT JOIN tbl_setup_item_additional_specs c 
    ON a.id = c.based_id
LEFT JOIN tbl_setup_item_unit_measurement d 
    ON a.unit_of_measure_id = d.id
GO
/****** Object:  View [dbo].[vw_get_all_item_bom]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_get_all_item_bom] AS
SELECT
    a.id AS item_id,
    a.short_desc,
    a.item_code,
    a.item_model,
    b.name AS general_name,
    c.size,
    d.name AS uom_name
FROM tbl_setup_item a
LEFT JOIN tbl_setup_item_name b 
    ON a.item_name_id = b.id
LEFT JOIN tbl_setup_item_additional_specs c 
    ON a.id = c.based_id
LEFT JOIN tbl_setup_item_unit_measurement d 
    ON a.unit_of_measure_id = d.id
GO
/****** Object:  View [dbo].[vw_get_all_user_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO















CREATE VIEW [dbo].[vw_get_all_user_list] AS
SELECT
    ISNULL(a.first_name, '') + ' ' + ISNULL(a.last_name, '') AS user_name
FROM tbl_setup_users AS a;
GO
/****** Object:  View [dbo].[vw_get_bin_loc_pick_activity]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_get_bin_loc_pick_activity] AS
SELECT
    a.warehouse_name_id,
	a.zone,
	a.area,
	a.rack,
	a.level,
	a.bins,
	a.location_code,
	b.name AS warehouse_name
FROM tbl_inv_warehouse_area a
INNER JOIN tbl_inv_warehouse_name b 
    ON a.warehouse_name_id = b.id
GO
/****** Object:  View [dbo].[vw_get_bpi_accreditations]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





  CREATE VIEW [dbo].[vw_get_bpi_accreditations] AS 
SELECT 
  a.id  AS  bpi_accreditation_id, 
  a.based_id AS  bpi_accreditation_based_id,
  a.branch_id AS bpi_accreditation_branch_id,
  a.date_added,
  a.file_name,
  a.accreditation_added_by,
  a.file_path
FROM tbl_bpi_accreditation a
GO
/****** Object:  View [dbo].[vw_get_bpi_adddress]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_get_bpi_adddress] AS
SELECT 
	a.id AS address_ids,
	a.based_id as address_based_id,
	a.location,
	a.branch_id as  address_branch_id,
	a.is_deleted as address_is_deleted
FROM tbl_bpi_address a
GO
/****** Object:  View [dbo].[vw_get_bpi_contacts]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_get_bpi_contacts] AS
 SELECT 
	a.id AS contacts_id,
	a.number,
	a.based_id AS  contacts_based_id ,
	a.name,
	a.email,
	a.preferences,
	a.position,
	a.branch_id,
	a.is_default_contact,
	a.contact_notes AS  contact_notes
FROM tbl_bpi_contacts a 
GO
/****** Object:  View [dbo].[vw_get_bpi_customers]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_bpi_customers] AS
SELECT 
    a.id AS bpi_id,
    b.branch_name,
    b.customer_code
FROM tbl_bpi a
INNER JOIN tbl_bpi_general b 
    ON a.id = b.based_id
WHERE EXISTS (
    SELECT 1
    FROM tbl_bpi_entity c
    INNER JOIN tbl_setup_bpi_entity d 
        ON c.entity_id = d.id
    WHERE c.bpi_general_id = b.id
      AND d.code = 'CUSTOMER'
);

GO
/****** Object:  View [dbo].[vw_get_bpi_finance_pending]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[vw_get_bpi_finance_pending] AS
SELECT 
	a.date,
    b.document_no as qoute_ref,
	a.gross_sales as total_price,
	b.stage,
	b.status,
	a.customer_id,
	d.id as finance_pending_branch_id
FROM tbl_trans_sales_quotation a
LEFT JOIN tbl_trans_sales_opportunity b ON a.document_no = b.document_no

LEFT JOIN (
     SELECT 
       based_id, 
       MIN(id) as id  
   FROM tbl_bpi_general
   GROUP BY based_id
) d ON a.customer_id = d.based_id;



GO
/****** Object:  View [dbo].[vw_get_bpi_general_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_get_bpi_general_list] AS
 SELECT
	a.id AS general_id,
	a.based_id AS general_based_id,
	a.social,
	a.branch_name,
	a.transaction_type,
	a.class_name,
	a.branch_tel_no,
	a.branch_website,
	a.customer_code,
	a.supplier_code,
	a.fax_no,
	a.notes,
	c.industry_ids AS branch_industry_ids,
	c.industry_names AS branch_industry_names,
	c.bpi_branch_id,
	d.entity_ids,
	d.entity_names,
	d.bpi_entity_id
	
FROM tbl_bpi_general a
LEFT JOIN (
	SELECT
			ISNULL(STRING_AGG(b.industry_id, ','),'')  AS industry_ids,
			ISNULL(STRING_AGG(b.code, ','),'') AS industry_names,
			b.bpi_general_id,
			a.id AS  bpi_branch_id
		FROM tbl_bpi_branch_industries a
		LEFT JOIN (
			SELECT 
				bb.id,
				aa.bpi_general_id,
				bb.code,
				aa.industry_id
			FROM tbl_bpi_branch_industries aa
			LEFT JOIN tbl_setup_bpi_industries bb ON aa.industry_id = bb.id
			GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.industry_id	
		) b ON a.bpi_general_id = b.bpi_general_id AND a.industry_id = b.id
		GROUP by b.bpi_general_id, a.id
) c ON a.id = c.bpi_general_id
LEFT JOIN
	(
	SELECT
			ISNULL(STRING_AGG(b.entity_id, ','),'')  AS entity_ids,
			ISNULL(STRING_AGG(b.code, ','),'') AS entity_names,
			b.bpi_general_id,
			a.id AS bpi_entity_id
		FROM tbl_bpi_entity a
		LEFT JOIN (
				SELECT 
					bb.id,
					aa.bpi_general_id,
					bb.code,
					aa.entity_id
				FROM tbl_bpi_entity aa
				LEFT JOIN tbl_setup_bpi_entity bb ON aa.entity_id = bb.id
				GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.entity_id
		) b ON a.bpi_general_id = b.bpi_general_id AND a.entity_id = b.id
		GROUP by b.bpi_general_id , a.id
	) d ON a.id = d.bpi_general_id
GO
/****** Object:  View [dbo].[vw_get_bpi_history]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_bpi_history] AS
SELECT
    based_id AS branch_id,
	date,
    actions,
    CONCAT(
        CASE 
            WHEN actions = 'update' THEN 'Updated '
            WHEN actions = 'create' THEN 'Created '
            WHEN actions = 'delete' THEN 'Deleted '
            ELSE ''
        END,
        child_type
    ) AS edit_history,
    edit_by
FROM tbl_bpi_history;
GO
/****** Object:  View [dbo].[vw_get_bpi_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_bpi_list] AS
SELECT  
    a.id AS id,  
    a.sales_id,  
    a.name AS name,  
    a.main_website,  
    a.tin,  
    a.main_tel_no,  
    c.industry_names,  
    c.industry_ids  
FROM tbl_bpi a  
LEFT JOIN (  
    SELECT  
        b.bpi_id,
        ISNULL(
            STRING_AGG(CAST(b.industry_id AS NVARCHAR(MAX)), ','),
            ''
        ) AS industry_ids,  
        ISNULL(
            STRING_AGG(CAST(b.code AS NVARCHAR(MAX)), ','),
            ''
        ) AS industry_names  
    FROM tbl_bpi_industries a  
    LEFT JOIN (  
        SELECT  
            bb.id,  
            aa.bpi_id,  
            bb.code,  
            aa.industry_id  
        FROM tbl_bpi_industries aa  
        LEFT JOIN tbl_setup_bpi_industries bb 
            ON aa.industry_id = bb.id  
        GROUP BY bb.id, aa.bpi_id, bb.code, aa.industry_id  
    ) b 
        ON a.bpi_id = b.bpi_id 
       AND a.industry_id = b.id  
    GROUP BY b.bpi_id  
) c 
    ON a.id = c.bpi_id  
WHERE ISNULL(c.industry_names, '') <> '';
GO
/****** Object:  View [dbo].[vw_get_chart_of_account]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_get_chart_of_account] AS 

SELECT 
	a.*,
	b.name AS class_name
FROM tbl_setup_chart_of_accounts a
LEFT JOIN tbl_setup_chart_class b  ON a.class_id = b.id
GO
/****** Object:  View [dbo].[vw_get_coa_setup]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_get_coa_setup] AS
SELECT
    a.id AS id,
    a.name,
    b.type
FROM tbl_setup_chart_of_accounts a
LEFT JOIN tbl_setup_chart_class b 
    ON a.class_id = b.id
GO
/****** Object:  View [dbo].[vw_get_CRM]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_get_CRM]
AS
WITH LatestCRM AS (
    SELECT
        ISNULL(a.id, 0) AS id,
        a.branch_name,
        b.number, 
        b.name, 
        b.email, 
        c.tag,
        c.date,
        c.remark,
		d.code,
		a.sales_id,
		ISNULL(c.crm_id, 0) AS crm_id,
        ROW_NUMBER() OVER (PARTITION BY a.id ORDER BY c.date DESC) AS rn -- Rank by date in descending order
    FROM            
        dbo.tbl_bpi_general AS a 
    LEFT OUTER JOIN dbo.tbl_bpi_contacts AS b ON a.based_id = b.based_id
    LEFT OUTER JOIN dbo.tbl_trans_sales_crm AS c ON a.id = c.based_id
	LEFT OUTER JOIN dbo.tbl_position AS d ON b.position = d.id
)

SELECT 
    id,
    branch_name,
    number,
    CONCAT(name, ' - ', code) AS name,
    email,
    tag,
    date,
    remark,
	crm_id,
	sales_id
FROM LatestCRM
WHERE rn = 1 -- Get only the latest entry for each `id`
GO
/****** Object:  View [dbo].[vw_get_engineering_redbox_quotation_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_get_engineering_redbox_quotation_list] AS
SELECT
    sq.id AS id,
    bpi.name AS client_name,
    sq.document_no AS sales_quotation,
    so.status AS status,
    sq.project_name AS project_name,
    sq.created_by AS sales_executive,
    sq.purpose AS remark
FROM tbl_trans_sales_quotation sq
INNER JOIN tbl_bpi bpi
    ON sq.customer_id = bpi.id
INNER JOIN tbl_trans_sales_opportunity so 
    ON sq.document_no = so.document_no
WHERE sq.project_name IS NOT NULL
  AND LTRIM(RTRIM(sq.project_name)) <> '';
GO
/****** Object:  View [dbo].[vw_get_entity_count]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_entity_count] AS
  SELECT
	c.code,
	COUNT(c.code) AS entity_count
  FROM   tbl_bpi_entity  a 
  LEFT JOIN tbl_setup_bpi_entity c ON a.entity_id = c.id
  GROUP BY c.code
GO
/****** Object:  View [dbo].[vw_get_inventory_logbook]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_get_inventory_logbook] AS
SELECT
    a1.id,

    CASE 
        WHEN a1.receiving_report_id IS NULL 
             AND a1.pick_activity_id IS NOT NULL 
            THEN a4.sod_id 
        ELSE a.pod_id 
    END AS pod_id,

    a1.item_id,
    c.name AS general_name,
    d.name AS brand,
    ias.long_description AS item_description,
    b.item_code,
    b.item_model,
    g.name AS item_category,
    g2.calibration,
    a1.bin_location AS location,

    /* qty_in = SUM of all qty_in for same item_id, bin_location, warehouse_id */
    (
        SELECT ISNULL(SUM(a2.qty_in), 0)
        FROM tbl_inv_stocks_location a2
        WHERE a2.item_id = a1.item_id
          AND a2.bin_location = a1.bin_location
          AND a2.warehouse_id = a1.warehouse_id
    ) AS qty_in,

    /* qty_out = SUM of all req_qty in ish for this stock */
    (
        SELECT ISNULL(SUM(ish2.req_qty), 0)
        FROM tbl_inv_stocks_location_history ish2
        WHERE ish2.inventory_stock_id = a1.id
    ) AS qty_out,

    a1.uom,
    -- rr_no logic
    CASE 
        WHEN a1.receiving_report_id IS NULL 
             AND a1.pick_activity_id IS NOT NULL 
            THEN a3.doc_no 
        ELSE a2.doc 
    END AS rr_no,

    -- po_no logic
    CASE 
        WHEN a1.receiving_report_id IS NULL 
             AND a1.pick_activity_id IS NOT NULL 
            THEN a3.reference_so 
        ELSE a2.ref_doc 
    END AS po_no,

    a1.supplier_name,
    a1.date_received AS date,
    h.remarks

FROM tbl_inv_stocks_location a1
LEFT JOIN tbl_inv_warehouse_receiving_report_details2 a
    ON a1.receiving_report_details_id = a.id
LEFT JOIN tbl_inv_warehouse_receiving_report2 a2
	ON a1.receiving_report_id = a2.id
LEFT JOIN tbl_inv_pick_activity a3
	ON a1.pick_activity_id = a3.id
LEFT JOIN tbl_inv_pick_activity_details a4
	ON a1.pick_activity_details_id = a4.id
LEFT JOIN tbl_setup_item b
    ON a.item_id = b.id
LEFT JOIN tbl_setup_item_name c
    ON b.item_name_id = c.id
LEFT JOIN tbl_setup_item_brand d
    ON b.item_brand_id = d.id
LEFT JOIN tbl_setup_item_class g
    ON b.item_class_id = g.id
LEFT JOIN tbl_setup_item_additional_specs g2
    ON b.id = g2.based_id
LEFT JOIN tbl_setup_item_additional_specs ias
    ON b.id = ias.based_id
LEFT JOIN tbl_inv_tracker h
    ON h.pod_id = a1.purchase_order_details_id
   AND h.rrd_id = a.id;
GO
/****** Object:  View [dbo].[vw_get_inventory_tracker]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_get_inventory_tracker] AS
SELECT
    a1.receiving_report_details_id AS id,
	a1.receiving_report_id AS rr_id,
    a1.purchase_order_details_id AS pod_id,
    a.item_code,
    c.name AS general_name,
    d.name AS brand,
    b.short_desc AS item_desc,
	f1.calibration,
    a1.bin_location AS location,
    a1.qty_in AS qty,
    a1.uom AS uom,
    f2.name AS warehouse_name,
    a1.warehouse_id,
    g.remarks,
    g.id AS rem_id,
    g.rrd_id
FROM tbl_inv_stocks_location a1
LEFT JOIN tbl_inv_warehouse_receiving_report_details2 a
    ON a1.receiving_report_details_id = a.id
LEFT JOIN tbl_setup_item b
    ON a.item_id = b.id
LEFT JOIN tbl_setup_item_name c
    ON b.item_name_id = c.id
LEFT JOIN tbl_setup_item_brand d
    ON b.item_brand_id = d.id
LEFT JOIN tbl_inv_warehouse_receiving_report2 f
    ON a.receiving_report_id = f.id
LEFT JOIN tbl_setup_item_additional_specs f1
	ON b.id = f1.based_id
LEFT JOIN tbl_inv_warehouse_name f2
	ON a1.warehouse_id = f2.id
LEFT JOIN tbl_inv_tracker g
    ON g.pod_id = a1.purchase_order_details_id
    AND g.rrd_id = a.id;
GO
/****** Object:  View [dbo].[vw_get_item_available_inventory]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_item_available_inventory] AS
SELECT
    a.warehouse_id,
    c.name AS warehouse_name,
    a.bin_location AS location,
    a.item_id,
    a.qty_in - ISNULL(SUM(b.req_qty), 0) AS stock_qty,
    a.uom AS stock_uom
FROM dbo.tbl_inv_stocks_location AS a
LEFT JOIN dbo.tbl_inv_stocks_location_history AS b
    ON a.id = b.inventory_stock_id
LEFT JOIN dbo.tbl_inv_warehouse_name AS c
    ON a.warehouse_id = c.id
GROUP BY
    a.bin_location,
    a.warehouse_id,
    a.item_id,
    a.uom,
    a.qty_in,
    c.name
GO
/****** Object:  View [dbo].[vw_get_purchase_order]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_purchase_order] AS
WITH pod_with_received AS (
    SELECT
        pod.based_id AS purchase_order_id,
        pod.id AS pod_id,

        -- cast order quantity to INT
        CAST(pod.order_qty AS INT) AS order_qty,

        -- sum received quantity (cast to INT first)
        ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS total_received_qty,

        -- compute balance (order_qty - received_qty)
        CAST(pod.order_qty AS INT)
            - ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS balance_qty
    FROM tbl_purchasing_purchase_order_details pod
    LEFT JOIN tbl_inv_warehouse_receiving_history wh
        ON pod.id = wh.purchase_order_details_id
    GROUP BY
        pod.based_id,
        pod.id,
        pod.order_qty
),
po_status AS (
    SELECT
        purchase_order_id,
        SUM(balance_qty) AS total_balance_qty
    FROM pod_with_received
    GROUP BY purchase_order_id
)
SELECT
    po.id,
    po.supplier_id,
    po.supplier_name,
    po.supplier_code,
    po.doc_no
FROM tbl_purchasing_purchase_order po
INNER JOIN po_status s
    ON po.id = s.purchase_order_id
WHERE s.total_balance_qty > 0;   -- Only POs that are NOT completed
GO
/****** Object:  View [dbo].[vw_get_purchasing_active_po]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_purchasing_active_po] AS

SELECT
    po.id AS id,
    po.doc_no AS doc_no,
    po.supplier_name AS supplier_name,
    CAST(po.total_amount_due AS VARCHAR) AS total_amount_due,  -- get it directly from PO table
    FORMAT(DATEADD(DAY, 30, po.date), 'MM/dd/yyyy') AS lead_time
FROM tbl_purchasing_purchase_order po
WHERE po.total_amount_due > 0;  -- only active POs
GO
/****** Object:  View [dbo].[vw_get_purchasing_canvass_sheet_so]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_get_purchasing_canvass_sheet_so] AS
SELECT 
    id,
    supplier_id,
    supplier_name,
    contact_no,
    order_size,
	supplier_stock,
    previous_list_price,
    current_list_price,    
    new_list_price,
    discount,
    net_price,
    payment_terms,
    lead_time,
    item_id,
    start_date,
    CASE 
        WHEN DATEDIFF(DAY, CAST(GETDATE() AS DATE), DATEADD(DAY, price_validity, CAST(start_date AS DATE))) >= 0 
        THEN DATEDIFF(DAY, CAST(GETDATE() AS DATE), DATEADD(DAY, price_validity, CAST(start_date AS DATE)))
        ELSE 0
    END AS price_validity,
    CASE 
        WHEN DATEADD(DAY, price_validity, CAST(start_date AS DATE)) >= CAST(GETDATE() AS DATE) THEN 'Active'
        ELSE 'Expired'
    END AS status,
    CASE
        WHEN current_list_price > previous_list_price THEN N'▲'
        WHEN current_list_price < previous_list_price THEN N'▼'
        ELSE '~'
    END AS price_trend
FROM tbl_purchasing_canvass_sheet_so;

GO
/****** Object:  View [dbo].[vw_get_purchasing_closed_po]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_purchasing_closed_po] AS


SELECT
    po.id AS id,
    po.doc_no AS doc_no,
    po.supplier_name AS supplier_name,
    CAST(po.total_amount_due AS VARCHAR) AS total_amount_due,  -- total from PO table
    FORMAT(DATEADD(DAY, 30, po.date), 'MM/dd/yyyy') AS lead_time,
    rr.id AS receiving_report_id,
    rr.doc AS receiving_report_no
FROM tbl_purchasing_purchase_order po
INNER JOIN tbl_purchasing_purchase_order_details pod
    ON po.id = pod.based_id
LEFT JOIN (
    SELECT purchase_order_details_id, SUM(CAST(received_qty AS INT)) AS received_qty
    FROM tbl_inv_warehouse_receiving_history
    GROUP BY purchase_order_details_id
) wh
    ON pod.id = wh.purchase_order_details_id
LEFT JOIN tbl_inv_warehouse_receiving_report rr
    ON rr.purchase_order_id = po.id
GROUP BY
    po.id,
    po.doc_no,
    po.supplier_name,
    po.date,
    po.total_amount_due,
    rr.id,
    rr.doc
HAVING SUM(pod.order_qty - ISNULL(wh.received_qty, 0)) = 0;  -- only fully received items

GO
/****** Object:  View [dbo].[vw_get_purchasing_guiding_price]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_get_purchasing_guiding_price] AS

	WITH Prices AS (
	SELECT
		b.item_id,
		b.discounted_price,
		a.date,
		a.supplier_name
	FROM tbl_purchasing_purchase_order a
	LEFT JOIN tbl_purchasing_purchase_order_details b ON a.id = b.based_id
	),
	-- Remove consecutive duplicate prices
	DistinctPrices AS (
		SELECT *,
			LAG(discounted_price) OVER (PARTITION BY item_id ORDER BY date DESC) AS prev_price
		FROM Prices
	),
	FilteredPrices AS (
		SELECT item_id, discounted_price, date, supplier_name
		FROM DistinctPrices
		WHERE prev_price IS NULL OR prev_price <> discounted_price
	),
	-- Rank latest distinct prices
	RankedDistinct AS (
		SELECT *,
			ROW_NUMBER() OVER (PARTITION BY item_id ORDER BY date DESC) AS rn
		FROM FilteredPrices
	),
	-- Get first date per item for cutoff checks
	PriceDateRanges AS (
		SELECT 
			item_id,
			MIN(date) AS first_purchase_date
		FROM Prices
		GROUP BY item_id
	),
	-- Calculate lowest prices and corresponding supplier_name
	LowestPrices AS (
		SELECT 
			d.item_id,

			-- Lowest 1 Year
			CASE 
				WHEN DATEDIFF(DAY, d.first_purchase_date, GETDATE()) >= 365 THEN 
					CAST(lp1.discounted_price AS VARCHAR)
				ELSE '-'
			END AS lowest_1yr,
			CASE 
				WHEN DATEDIFF(DAY, d.first_purchase_date, GETDATE()) >= 365 THEN 
					ISNULL(lp1.supplier_name, '-')
				ELSE '-'
			END AS lowest_1yr_supplier_name,

			-- Lowest 3 Year
			CASE 
				WHEN DATEDIFF(DAY, d.first_purchase_date, GETDATE()) >= 3 * 365 THEN 
					CAST(lp3.discounted_price AS VARCHAR)
				ELSE '-'
			END AS lowest_3yr,
			CASE 
				WHEN DATEDIFF(DAY, d.first_purchase_date, GETDATE()) >= 3 * 365 THEN 
					ISNULL(lp3.supplier_name, '-')
				ELSE '-'
			END AS lowest_3yr_supplier_name,

			-- Lowest All Time
			CAST(lpa.discounted_price AS VARCHAR) AS lowest_alltime,
			ISNULL(lpa.supplier_name, '-') AS lowest_alltime_supplier_name

		FROM PriceDateRanges d

		-- Lowest 1yr
		LEFT JOIN (
			SELECT p1.item_id, p1.discounted_price, p1.supplier_name
			FROM Prices p1
			JOIN (
				SELECT item_id, MIN(discounted_price) AS min_price
				FROM Prices
				WHERE date >= DATEADD(YEAR, -1, GETDATE())
				GROUP BY item_id
			) x ON p1.item_id = x.item_id AND p1.discounted_price = x.min_price
			WHERE p1.date >= DATEADD(YEAR, -1, GETDATE())
		) lp1 ON d.item_id = lp1.item_id

		-- Lowest 3yr
		LEFT JOIN (
			SELECT p1.item_id, p1.discounted_price, p1.supplier_name
			FROM Prices p1
			JOIN (
				SELECT item_id, MIN(discounted_price) AS min_price
				FROM Prices
				WHERE date >= DATEADD(YEAR, -3, GETDATE())
				GROUP BY item_id
			) x ON p1.item_id = x.item_id AND p1.discounted_price = x.min_price
			WHERE p1.date >= DATEADD(YEAR, -3, GETDATE())
		) lp3 ON d.item_id = lp3.item_id

		-- Lowest All Time
		LEFT JOIN (
			SELECT p1.item_id, p1.discounted_price, p1.supplier_name
			FROM Prices p1
			JOIN (
				SELECT item_id, MIN(discounted_price) AS min_price
				FROM Prices
				GROUP BY item_id
			) x ON p1.item_id = x.item_id AND p1.discounted_price = x.min_price
		) lpa ON d.item_id = lpa.item_id
	)

	SELECT
		r.item_id,

		-- LAST
		ISNULL(CAST(MAX(CASE WHEN r.rn = 1 THEN r.discounted_price END) AS VARCHAR), 0) AS last_price,
		ISNULL(MAX(CASE WHEN r.rn = 1 THEN r.supplier_name END), '-') AS last_supplier_name,

		-- 2ND
		ISNULL(CAST(MAX(CASE WHEN r.rn = 2 THEN r.discounted_price END) AS VARCHAR), 0) AS second_last_price,
		ISNULL(MAX(CASE WHEN r.rn = 2 THEN r.supplier_name END), '-') AS second_last_supplier_name,

		-- 3RD
		ISNULL(CAST(MAX(CASE WHEN r.rn = 3 THEN r.discounted_price END) AS VARCHAR), 0) AS third_last_price,
		ISNULL(MAX(CASE WHEN r.rn = 3 THEN r.supplier_name END), '-') AS third_last_supplier_name,

		-- LOWEST PRICES
		lp.lowest_1yr,
		lp.lowest_1yr_supplier_name,
		lp.lowest_3yr,
		lp.lowest_3yr_supplier_name,
		lp.lowest_alltime,
		lp.lowest_alltime_supplier_name

	FROM RankedDistinct r
	JOIN LowestPrices lp ON r.item_id = lp.item_id
	GROUP BY r.item_id, lp.lowest_1yr, lp.lowest_1yr_supplier_name, lp.lowest_3yr, lp.lowest_3yr_supplier_name, lp.lowest_alltime, lp.lowest_alltime_supplier_name;


GO
/****** Object:  View [dbo].[vw_get_purchasing_list_supplier]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_get_purchasing_list_supplier] AS

SELECT 
    b.id AS supplier_id,
	MAX(b.branch_tel_no) AS main_tel_no,
    MAX(b.branch_name) AS supplier_name,
    MAX(b.supplier_code) AS supplier_code,
    MAX(a.tin) AS tin_no,
    MAX(b.fax_no) AS fax_no,
    MAX(h.tax_code) AS tax_code,
	MAX(h.payment_terms_id) AS payment_terms_id,
    MAX(addresses.address) AS address,
	MAX(items.item_ids) AS item_ids
FROM tbl_bpi a
LEFT JOIN tbl_bpi_general b ON a.id = b.based_id
LEFT JOIN tbl_bpi_entity d ON b.id = d.bpi_general_id
LEFT JOIN tbl_setup_bpi_entity e ON d.entity_id = e.id
LEFT JOIN tbl_bpi_industries f ON b.based_id = f.bpi_id
LEFT JOIN tbl_bpi_items h ON b.id = h.branch_id
LEFT JOIN tbl_bpi_address i ON b.id = i.branch_id

-- OUTER APPLY for distinct addresses
OUTER APPLY (
    SELECT 
        STUFF((
            SELECT DISTINCT ', ' + CAST(a2.location AS NVARCHAR(MAX))
            FROM tbl_bpi_address a2
            WHERE a2.branch_id = b.id AND a2.location IS NOT NULL
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS address
) addresses

-- OUTER APPLY for item IDs
OUTER APPLY (
    SELECT 
        STUFF((
            SELECT DISTINCT ', ' + CAST(h2.item_id AS NVARCHAR(MAX))
            FROM tbl_bpi_items h2
            WHERE h2.branch_id = b.id AND h2.item_id IS NOT NULL
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS item_ids
) items

WHERE e.code = 'SUPPLIER'

GROUP BY b.id;

GO
/****** Object:  View [dbo].[vw_get_purchasing_pr_purchase_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_get_purchasing_pr_purchase_list] AS 

SELECT
a.item_id,
b.purchaser,

STRING_AGG(CAST(a.pr_order_id AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS purchase_requisition_detail_ids,

    STRING_AGG(CAST(a.based_id AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS purchase_requisition_ids,

    STRING_AGG(CAST(b.doc_no AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS purchase_requisition_nos,

    STRING_AGG(CAST(b.request_by AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS requestors,

    STRING_AGG(CAST(b.department AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS departments,

	 -- Remaining qty per detail
    STRING_AGG(CAST(ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0) AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.pr_order_id ASC) AS qtys,

	MIN(c.item_code) AS item_code,
    MIN(c.short_desc) AS item_description,
    MIN(d.name) AS unit_of_measure,
    MIN(e.name) AS item_name,
    MIN(f.name) AS item_brand,

	STRING_AGG(CONVERT(NVARCHAR, b.date_required, 23), ',') AS commitment_dates,
	-- Total remaining qty per item
    SUM(ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0)) AS total_qty

FROM tbl_purchasing_purchase_requisition_orders a
LEFT JOIN tbl_purchasing_purchase_requisition b ON a.based_id = b.pr_id
LEFT JOIN tbl_setup_item c ON a.item_id = c.id
LEFT JOIN tbl_setup_item_unit_measurement d ON c.unit_of_measure_id = d.id
LEFT JOIN tbl_setup_item_name e ON c.item_name_id = e.id
LEFT JOIN tbl_setup_item_brand f ON c.item_brand_id = f.id


WHERE a.status = 'CANVASS' AND b.status = 'APPROVED' AND a.item_id <> 0
    AND ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0) > 0 -- Filter for remaining qty > 0
	
GROUP BY a.item_id, b.purchaser;

GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_purchase_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[vw_get_purchasing_redbox_purchase_list] AS 
SELECT * FROM (
    SELECT 
        a.order_id AS id,
        a.doc AS doc_no,
        a.project_name,
        a.delivery_date AS commitment_date,
        a.purchaser,
        STRING_AGG(CAST(b.order_details_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.order_details_id ASC) AS detail_ids,
        STRING_AGG(CAST(b.item_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.order_details_id ASC) AS item_ids,
        STRING_AGG(CAST(e.name AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.order_details_id ASC) AS item_names,
        MAX(c.name) AS customer, -- Ensures one customer name is selected per order
        'SO' AS order_type
    FROM tbl_trans_sales_order a
    LEFT JOIN tbl_trans_sales_order_details b ON a.order_id = b.based_id AND ISNULL(b.qty, 0) - ISNULL(b.allocated_qty, 0) > 0
    LEFT JOIN tbl_bpi c ON a.customer_id = c.id 
    LEFT JOIN tbl_setup_item d ON b.item_id = d.id
    LEFT JOIN tbl_setup_item_name e ON d.item_name_id = e.id
    WHERE a.status = 'ACTIVE' AND COALESCE(b.status, '') = 'CANVASS'
    GROUP BY a.order_id, a.doc, a.delivery_date, a.project_name, a.purchaser

    UNION ALL
    
	SELECT 
        a.pr_id AS id,
        a.doc_no,
        a.department AS project_name,
        a.date_required AS commitment_date,
        a.purchaser,
        STRING_AGG(CAST(b.pr_order_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.pr_order_id ASC) AS detail_ids,
        STRING_AGG(CAST(b.item_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.pr_order_id ASC) AS item_ids,
        STRING_AGG(CAST(d.name AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY b.pr_order_id ASC) AS item_names,
        a.request_by AS customer,
        'PR' AS order_type
    FROM tbl_purchasing_purchase_requisition a
    LEFT JOIN tbl_purchasing_purchase_requisition_orders b ON a.pr_id = b.based_id
    LEFT JOIN tbl_setup_item c ON b.item_id = c.id
    LEFT JOIN tbl_setup_item_name d ON c.item_name_id = d.id
    WHERE a.status = 'APPROVED' AND COALESCE(b.status, '') = 'CANVASS'
    GROUP BY a.pr_id, a.doc_no, a.department, a.date_required, a.purchaser, a.request_by
) a
 

GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_purchase_requisition_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE VIEW [dbo].[vw_get_purchasing_redbox_purchase_requisition_list] AS

SELECT
	a.pr_id as id,
	a.doc_no as doc_no,
	a.department as project_name,
	a.date_required as commitment_date,
	a.purchaser,
	STRING_AGG(CAST(b.pr_order_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.pr_id ASC) AS detail_ids,
	STRING_AGG(CAST(b.item_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.pr_id ASC) AS item_ids,
	STRING_AGG(CAST (d.name AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.pr_id ASC) AS item_names,
	a.request_by as customer,
	'PR' AS order_type

FROM tbl_purchasing_purchase_requisition a
LEFT JOIN tbl_purchasing_purchase_requisition_orders b ON a.pr_id = b.based_id
LEFT JOIN tbl_setup_item c ON b.item_id = c.id
LEFT JOIN tbl_setup_item_name d ON c.item_name_id = d.id
WHERE a.status = 'APPROVED' and b.status = 'CANVASS'
GROUP BY a.pr_id, a.request_by, a.doc_no, a.department, a.date_required, a.purchaser


GO
/****** Object:  View [dbo].[vw_get_purchasing_redbox_sales_order_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[vw_get_purchasing_redbox_sales_order_list] AS

SELECT 
	a.order_id as id,
	a.doc as doc_no,
	a.project_name,
	a.delivery_date as commitment_date,
	a.purchaser,	
	STRING_AGG(CAST(b.order_details_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.order_id ASC) AS detail_ids,
	STRING_AGG(CAST(b.item_id AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.order_id ASC) AS item_ids,
	STRING_AGG(CAST(e.name AS NVARCHAR(MAX)), ',') WITHIN GROUP (ORDER BY a.order_id ASC) AS item_names,
	MAX(c.name) as customer,
	'SO' AS order_type
	
FROM tbl_trans_sales_order a
LEFT JOIN  tbl_trans_sales_order_details b ON a.order_id = b.based_id
LEFT JOIN tbl_bpi c ON a.customer_id = c.id
LEFT JOIN tbl_setup_item d ON b.item_id = d.id
LEFT JOIN tbl_setup_item_name e ON d.item_name_id = e.id
WHERE a.status = 'ACTIVE' AND b.status = 'CANVASS'
GROUP BY a.order_id, a.doc, a.delivery_date, a.project_name, a.purchaser

GO
/****** Object:  View [dbo].[vw_get_purchasing_so_purchase_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















CREATE VIEW [dbo].[vw_get_purchasing_so_purchase_list] AS

SELECT
    a.item_id,
    b.purchaser,

    STRING_AGG(CAST(a.based_id AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS order_ids,

    STRING_AGG(CAST(a.order_details_id AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS order_detail_ids,

    STRING_AGG(CAST(b.doc AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS sales_order_nos,

    STRING_AGG(CAST(b.project_name AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS project_names,

    STRING_AGG(CAST(b.sales_executive AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS sales_executives,

    -- Remaining qty per detail
    STRING_AGG(CAST(ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0) AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS qtys,

    STRING_AGG(CAST(a.list_price AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS unit_prices,

    STRING_AGG(CAST(a.percent_discount AS NVARCHAR(MAX)), ',') 
        WITHIN GROUP (ORDER BY a.order_details_id ASC) AS discounts,

    MIN(a.item_code) AS item_code,
    MIN(a.item_description) AS item_description,
    MIN(d.name) AS unit_of_measure,
    MIN(e.name) AS item_name,
    MIN(f.name) AS item_brand,

    STRING_AGG(CONVERT(NVARCHAR, b.delivery_date, 23), ',') AS commitment_dates,

    -- Total remaining qty per item
    SUM(ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0)) AS total_qty

FROM tbl_trans_sales_order_details a
LEFT JOIN tbl_trans_sales_order b ON a.based_id = b.order_id
LEFT JOIN tbl_setup_item c ON a.item_id = c.id
LEFT JOIN tbl_setup_item_unit_measurement d ON c.unit_of_measure_id = d.id
LEFT JOIN tbl_setup_item_name e ON c.item_name_id = e.id
LEFT JOIN tbl_setup_item_brand f ON c.item_brand_id = f.id

WHERE a.status = 'CANVASS' AND b.status = 'ACTIVE' AND a.item_id <> 0
    AND ISNULL(a.qty, 0) - ISNULL(a.allocated_qty, 0) > 0 -- Filter for remaining qty > 0

GROUP BY a.item_id, b.purchaser;


GO
/****** Object:  View [dbo].[vw_get_sales_opportunities]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[vw_get_sales_opportunities] AS

SELECT
    ISNULL(b.id, 0) AS id,
    b.tag,
	a.version_no,
	a.is_finalized,
    a.document_no,
    a.customer_id,
    a.project_name,
    a.date,
    b.client_req,
    a.total_amount_due,
    b.last_update,
    b.stage,
    b.status,
    b.special_deal,
    a.gross_sales AS total,
    c.branch_name

FROM dbo.tbl_trans_sales_quotation a
LEFT JOIN dbo.tbl_trans_sales_opportunity b ON a.document_no = b.document_no AND a.version_no = b.version_no
LEFT JOIN dbo.tbl_bpi_general c ON a.customer_id = c.based_id

GO
/****** Object:  View [dbo].[vw_get_sales_order_details_engineering]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















CREATE VIEW [dbo].[vw_get_sales_order_details_engineering] AS
SELECT
			sod.order_details_id AS id,
			sod.based_id AS so_id,
			sod.item_code AS item_code,
            sod.item_description AS item_desc,
			sod.qty AS stock,
            sod.qty AS req_qty,
			sod.delivery_preference AS remark,
            sod.status AS status
        FROM dbo.tbl_trans_sales_order_details AS sod
		INNER JOIN dbo.tbl_trans_sales_order AS so
			ON sod.based_id = so.order_id
GO
/****** Object:  View [dbo].[vw_get_sales_order_dr]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW  [dbo].[vw_get_sales_order_dr] AS
 SELECT 
	a.order_id,
	a.document_no,
	a.project_name,
	a.total_amount_due AS total_amount,
	c.name AS company_name,
	a.sales_executive
FROM tbl_trans_sales_order a
LEFT JOIN tbl_bpi c ON a.customer_id = c.id

GO
/****** Object:  View [dbo].[vw_get_sales_order_dr_details]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW   [dbo].[vw_get_sales_order_dr_details] AS 

 SELECT 
	a.order_details_id,
	a.based_id,
	a.item_id,	
	a.item_code,
	a.item_description AS item_desc,
	a.qty,
	a.list_price AS unit_price,
	a.total_price AS total_cost,
	a.percent_discount AS discount,
	a.status,
	b.delivery_date,
	d.name as uom_name
FROM tbl_trans_sales_order_details a
LEFT JOIN tbl_trans_sales_order b ON a.based_id = b.order_id
LEFT JOIN tbl_setup_item c ON a.item_id = c.id
LEFT JOIN tbl_setup_item_unit_measurement d ON c.unit_of_measure_id = d.id 

GO
/****** Object:  View [dbo].[vw_get_sales_order_engineering]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















CREATE VIEW [dbo].[vw_get_sales_order_engineering] AS
SELECT
			so.order_id AS id,
            bpg.branch_name AS customer,
            bpi.tin AS tin,
            so.doc AS code,
            shipAddr.location AS delivery_to,
            billAddr.location AS bill_to,
            so.doc AS doc_no,
            so.date AS date,
            so.delivery_date AS delivery_date,
			so.ref_po AS reference_doc,
            so.status AS status
FROM dbo.tbl_trans_sales_order AS so
        INNER JOIN dbo.tbl_bpi_general AS bpg
            ON so.customer_id = bpg.id
        INNER JOIN dbo.tbl_bpi AS bpi
            ON bpg.based_id = bpi.id
        LEFT JOIN dbo.tbl_bpi_address AS shipAddr
            ON so.ship_to_id = shipAddr.id
        LEFT JOIN dbo.tbl_bpi_address AS billAddr
            ON so.bill_to_id = billAddr.id
GO
/****** Object:  View [dbo].[vw_get_sales_order_ir]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_get_sales_order_ir] AS
WITH sod_with_received AS (
    SELECT
        sod.based_id AS sales_order_id,
        sod.order_details_id AS sod_id,
        sod.item_id,
        sod.item_description,

        CAST(sod.qty AS INT) AS order_qty,

        ISNULL(SUM(CAST(ih.req_qty AS INT)), 0) AS total_required_qty,

        CAST(sod.qty AS INT)
            - ISNULL(SUM(CAST(ih.req_qty AS INT)), 0) AS balance_qty
    FROM tbl_trans_sales_order_details sod
    LEFT JOIN tbl_inv_item_request_history ih
        ON sod.order_details_id = ih.sod_id
    GROUP BY
        sod.based_id,
        sod.order_details_id,
        sod.qty,
        sod.item_id,
        sod.item_description       -- FIXED
),
so_status AS (
    SELECT
        sales_order_id,
        sod_id,
        item_id,
        item_description,
        SUM(total_required_qty) AS total_required_qty,
        SUM(balance_qty) AS total_balance_qty
    FROM sod_with_received
    GROUP BY
        sales_order_id,
        sod_id,
        item_id,
        item_description          -- FIXED
)
SELECT
    so.order_id AS so_id,
    s.sod_id,
    s.item_id,
    so.doc AS ref_doc,
    s.item_description,
    s.total_required_qty,
	s.total_balance_qty AS order_qty,
    s.total_balance_qty AS req_qty,
    um.name AS req_uom
FROM tbl_trans_sales_order so
INNER JOIN so_status s
    ON so.order_id = s.sales_order_id
INNER JOIN tbl_setup_item i
    ON s.item_id = i.id
INNER JOIN tbl_setup_item_unit_measurement um
    ON i.unit_of_measure_id = um.id
WHERE s.total_balance_qty > 0;
GO
/****** Object:  View [dbo].[vw_get_sales_order_item_release]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_get_sales_order_item_release]
AS
SELECT 
    sod.order_details_id AS sales_order_details_id,
    sod.based_id AS sales_order_id,
	so.doc as ref_doc_no,
    sod.item_id,
    sod.item_description,
    sod.qty AS required_qty,
    i.unit_of_measure_id as required_uom_id,
	uom.name as required_uom,
    sod.delivery_preference
FROM tbl_trans_sales_order_details sod
LEFT JOIN tbl_trans_sales_order so 
	ON sod.based_id = so.order_id
LEFT JOIN tbl_setup_item i 
    ON sod.item_id = i.id
LEFT JOIN tbl_setup_item_unit_measurement uom
	ON i.unit_of_measure_id = uom.id
GO
/****** Object:  View [dbo].[vw_get_sales_order_pa]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [dbo].[vw_get_sales_order_pa] AS
WITH sod_with_received AS (
    SELECT
        sod.based_id AS sales_order_id,
        sod.order_details_id AS sod_id,
        sod.item_id,
        sod.item_description,
		sod.item_code,

        CAST(sod.qty AS INT) AS order_qty,

        ISNULL(SUM(CAST(ph.pick_qty AS INT)), 0) AS total_picked_qty,

        CAST(sod.qty AS INT)
            - ISNULL(SUM(CAST(ph.pick_qty AS INT)), 0) AS balance_qty
    FROM tbl_trans_sales_order_details sod
    LEFT JOIN tbl_inv_pick_activity_history ph
        ON sod.order_details_id = ph.sod_id
    GROUP BY
        sod.based_id,
        sod.order_details_id,
        sod.qty,
        sod.item_id,
        sod.item_description,
		sod.item_code
),
so_status AS (
    SELECT
        sales_order_id,
        sod_id,
        item_id,
        item_description,
		item_code,
        SUM(total_picked_qty) AS total_picked_qty,
        SUM(balance_qty) AS total_balance_qty
    FROM sod_with_received
    GROUP BY
        sales_order_id,
        sod_id,
        item_id,
        item_description,
		item_code
)
SELECT
    so.order_id AS so_id,
    s.sod_id,
    s.item_id,
    so.doc AS ref_doc,
    s.item_description,
	bpg.branch_name AS customer,
	bpg.customer_code AS code,
	so.sales_executive AS sales_person,
	s.item_code,
    s.total_picked_qty,
	s.total_balance_qty AS left_qty,
    s.total_balance_qty AS pick_qty,
    um.name AS left_uom
FROM tbl_trans_sales_order so
INNER JOIN so_status s
    ON so.order_id = s.sales_order_id
INNER JOIN tbl_setup_item i
    ON s.item_id = i.id
INNER JOIN tbl_setup_item_unit_measurement um
    ON i.unit_of_measure_id = um.id
INNER JOIN tbl_bpi_general bpg
	ON bpg.id = so.customer_id
WHERE s.total_balance_qty > 0;
GO
/****** Object:  View [dbo].[vw_get_sales_order_with_delivery_receipts]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vw_get_sales_order_with_delivery_receipts] AS 
SELECT
	a.order_id,
	a.customer_id,	
	c.branch_name AS customer_name,
	c.customer_code,
	d.finance_tax_code AS tax_code,
	d.finance_tax as tax_id,
	a.project_name AS address,
	a.payment_terms_id,
	a.ref_po,
	a.document_no AS doc_so_no,
	a.date AS doc_date,
	a.total_amount_due AS net_amount,
	a.sales_executive
FROM tbl_trans_sales_order a 
LEFT JOIN tbl_bpi_general c ON a.customer_id = c.id
LEFT JOIN tbl_bpi_finance d ON a.customer_id = d.finance_branch_id
	
GO
/****** Object:  View [dbo].[vw_get_supplier_trade]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[vw_get_supplier_trade] AS 
SELECT
   a.id AS supplier_id,
   a.branch_name AS supplier,
   a.supplier_code,
   UPPER(a.transaction_type) AS invoice_type,
   c.name AS payment_term,
   'INVOICE TYPE' AS [type]
FROM tbl_bpi_general a
LEFT JOIN tbl_bpi_finance b
	ON a.id = b.finance_id
INNER JOIN tbl_setup_payment_terms c
	ON b.finance_payment_terms_id = c.id
GO
/****** Object:  View [dbo].[vw_item_additional_specs]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vw_item_additional_specs] AS

SELECT 
    a.*, 
    b.name AS volume_unit_of_measure,
    c.name AS weight_unit_of_measure,
	f.pump_type_compatability_id,
	f.pump_type_compatability_names
FROM tbl_setup_item_additional_specs a
LEFT JOIN tbl_setup_item_unit_measurement b ON a.volume_unit_of_measure_id = b.id
LEFT JOIN tbl_setup_item_unit_measurement c ON a.weight_unit_of_measure_id = c.id

LEFT JOIN (

 SELECT
			ISNULL(STRING_AGG(b.pump_type_compatability_id, ','),'')  AS pump_type_compatability_id,
			ISNULL(STRING_AGG(b.code, ','),'') AS pump_type_compatability_names,
			b.additional_specs_id
		FROM tbl_setup_item_additional_specs_pump_type a
		LEFT JOIN (
		  SELECT 
				bb.id,
				aa.additional_specs_id,
				bb.code,
				aa.pump_type_compatability_id
			FROM tbl_setup_item_additional_specs_pump_type aa
			LEFT JOIN tbl_setup_item_pump_type bb ON aa.pump_type_compatability_id = bb.id
			GROUP BY bb.id,aa.additional_specs_id,bb.code,aa.pump_type_compatability_id	

		) b ON a.additional_specs_id = b.additional_specs_id AND a.pump_type_compatability_id = b.id

		GROUP by b.additional_specs_id


) f ON a.id = f.additional_specs_id

GO
/****** Object:  View [dbo].[vw_item_production_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_item_production_list] AS

SELECT 
	a.id as item_id,
	b.id as bom_id,
	c.item_id as bom_item_id,
	c.bom_qty,
	e.item_code,
	e.item_model
FROM tbl_setup_item a
LEFT JOIN tbl_setup_item_bom b ON a.id = b.item_id
LEFT JOIN tbl_setup_item_bom_details c ON b.id = c.item_bom_id
LEFT JOIN tbl_setup_item e ON c.item_id = e.id
GO
/****** Object:  View [dbo].[vw_item_purchasing_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_item_purchasing_list] AS

SELECT 
	a.id,
	a.item_id as based_id,
	a.based_id as supplier_name_id,
	a.payment_terms_id,
	a.price,
	b.name as supplier_name,
	c.name as payment_terms_name,
	d.class_name as supplier_type_name

FROM tbl_bpi_items a 
LEFT JOIN tbl_bpi b ON a.based_id = b.id
LEFT JOIN tbl_setup_payment_terms c ON a.payment_terms_id = c.id
LEFT JOIn tbl_bpi_general d ON b.id = d.based_id

GO
/****** Object:  View [dbo].[vw_item_sales_list]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_item_sales_list] AS

SELECT
	a.order_id as id,
	a.customer_id,
	b.item_id as based_id,
	a.date,
	a.doc as sales_order_no,
	c.name as customer_name

FROM tbl_trans_sales_order a
LEFT JOIN tbl_trans_sales_order_details b ON a.order_id = b.based_id
LEFT JOIN tbl_bpi c ON a.customer_id = c.id

GO
/****** Object:  View [dbo].[vw_latest_sales_quotation]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_latest_sales_quotation] AS
WITH LatestQuotes AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY document_no
               ORDER BY version_no DESC, sub_version_no DESC
           ) AS rn
    FROM dbo.tbl_trans_sales_quotation
)
SELECT *
FROM LatestQuotes
WHERE rn = 1;
GO
/****** Object:  View [dbo].[vw_PumpSpecifications]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_PumpSpecifications] AS
SELECT 
    tsi.id AS item_id,
    tsi.item_name_id,
    tin.name AS item_name, 
    tsis.template AS template_name,  
    tsis.title AS item_title,
    tsis.value AS item_value
FROM tbl_setup_item tsi
LEFT JOIN tbl_setup_item_name tin ON tsi.item_name_id = tin.id 
LEFT JOIN tbl_setup_item_specs tsis ON tsi.id = tsis.based_id
WHERE tsis.template = 'PUMP' 
  AND (tsis.title = 'FLA' OR tsis.title = 'VOLTAGE');
GO
/****** Object:  View [dbo].[vw_purchase_order_status]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_purchase_order_status] AS
SELECT 
    po.id AS purchase_order_id,
    po.supplier_id,
    po.supplier_name,
    po.supplier_code,
    po.doc_no,
    pod.id AS pod_id,
    pod.item_id,
    pod.order_qty,
    ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS total_received_qty,
    pod.order_qty - ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS remaining_qty,
    pod.unit_of_measure AS ordered_uom,
    pod.item_code,
    ias.long_description AS item_description,
    CASE 
        WHEN pod.order_qty - ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) > 0 THEN 'Active'
        ELSE 'Closed'
    END AS po_status
FROM tbl_purchasing_purchase_order po
INNER JOIN tbl_purchasing_purchase_order_details pod
    ON po.id = pod.based_id
LEFT JOIN tbl_inv_warehouse_receiving_history wh
    ON pod.id = wh.purchase_order_id
INNER JOIN tbl_setup_item i
    ON pod.item_id = i.id
INNER JOIN tbl_setup_item_additional_specs ias
    ON i.id = ias.based_id
GROUP BY 
    po.id,
    po.supplier_id,
    po.supplier_name,
    po.supplier_code,
    po.doc_no,
    pod.id,
    pod.item_id,
    pod.order_qty,
    pod.unit_of_measure,
    pod.item_code,
    ias.long_description;
GO
/****** Object:  View [dbo].[vw_qqnotes]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE VIEW  [dbo].[vw_qqnotes] AS 

  SELECT
	a.id as qq_id,
	a.based_id,
	a.components,
	a.model,
	a.item_id,
	a.bom_id,
	a.is_child,
	a.qty,
	a.unit_of_measure,
	b.remarks,
	b.notes,
	b.id as qq_note_id,
	d.name as customer_name

 FROM tbl_trans_sales_quotation_quick  a
 LEFT JOIN tbl_setup_item_boq_details b ON a.id = b.qq_id
 LEFT JOIN tbl_trans_sales_quotation c ON a.based_id = c.id
 LEFT JOIN tbl_bpi d ON c.customer_id =  d.id
GO
/****** Object:  View [dbo].[vw_sales_order_release_items]    Script Date: 2/19/2026 10:44:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_sales_order_release_items]
AS
SELECT 
    sod.order_details_id AS sales_order_details_id,
    sod.based_id AS sales_order_id,
    sod.item_id,
    sod.item_description,
    sod.qty AS required_qty,
    i.unit_of_measure_id as required_unit_of_measure_id,
    sod.delivery_preference
FROM tbl_trans_sales_order_details sod
LEFT JOIN tbl_setup_item i 
    ON sod.item_id = i.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_trans_sales_quotation"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 233
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_trans_sales_project_item_set"
            Begin Extent = 
               Top = 6
               Left = 271
               Bottom = 119
               Right = 441
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 479
               Bottom = 136
               Right = 662
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vw_items"
            Begin Extent = 
               Top = 6
               Left = 700
               Bottom = 136
               Right = 899
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "c"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 288
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GetBpiCustomer"
            Begin Extent = 
               Top = 138
               Left = 326
               Bottom = 251
               Right = 496
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 138
               Left = 534
               Bottom = 268
               Right = 714
            End
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'           DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "e"
            Begin Extent = 
               Top = 138
               Left = 752
               Bottom = 251
               Right = 922
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetWiringNotes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -288
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 252
               Bottom = 136
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_CRM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_CRM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 265
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 303
               Bottom = 136
               Right = 473
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_sales_opportunities'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_get_sales_opportunities'
GO
