USE [erp_smpc]
GO
/****** Object:  StoredProcedure [dbo].[sp_tax_setup_classification]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_tax_setup_classification]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetOrderStatus]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_SetOrderStatus]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesOrdersFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetSalesOrdersFromJobOrders]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesOrderDetailsFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetSalesOrderDetailsFromJobOrders]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetPurchaseOrders]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderInvoice]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetPurchaseOrderInvoice]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderDetailsInvoice]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetPurchaseOrderDetailsInvoice]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetJobOrders]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEngineeringRedboxJobOrder]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetEngineeringRedboxJobOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeByType]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetEmployeeByType]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetComponents]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetComponents]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBpiList]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetBpiList]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBpiGeneralList]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetBpiGeneralList]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBinLocationItem]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetBinLocationItem]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSalesOrdersFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_GetAllSalesOrdersFromJobOrders]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAtTable]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_CreateAtTable]
GO
/****** Object:  StoredProcedure [dbo].[sp_chart_of_account_classification]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_chart_of_account_classification]
GO
/****** Object:  StoredProcedure [dbo].[GetModelList]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[GetModelList]
GO
/****** Object:  StoredProcedure [dbo].[GetBPIInfos]    Script Date: 2/19/2026 10:46:23 AM ******/
DROP PROCEDURE IF EXISTS [dbo].[GetBPIInfos]
GO
/****** Object:  StoredProcedure [dbo].[GetBPIInfos]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBPIInfos]
AS
BEGIN
    SELECT
        a.id,
        a.sales_id,
        a.name,
        a.main_website,
        a.tin,
        a.main_website,
        b.industry_id,
        b.bpi_id,
        c.name AS industry_name
    FROM tbl_bpi a
    LEFT JOIN tbl_bpi_industries b ON a.id = b.bpi_id
    LEFT JOIN tbl_setup_bpi_industries c ON b.industry_id = c.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetModelList]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetModelList]
AS
BEGIN
    SELECT 
		a.*, 
		b.name AS related_name,  
		c.name AS related_brand
	FROM tbl_setup_item_model a
		LEFT JOIN tbl_setup_item_name b ON a.based_id = b.id
		LEFT JOIN tbl_setup_item_brand c ON a.based_id = c.id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_chart_of_account_classification]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      My Name
-- Create Date: 6/23/2025
-- Description: Returns the classified chart of account.
-- =============================================

CREATE PROCEDURE [dbo].[sp_chart_of_account_classification]
	-- Add the parameters for the stored procedure here
	@code nvarchar(50) = null

AS


BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    
	SELECT 
		a.id,
		a.code,
		a.name
	FROM tbl_setup_chart_of_accounts a
	LEFT JOIN tbl_setup_chart_class b ON a.class_id = b.id
	WHERE b.code = @code;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAtTable]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateAtTable]
(
    @SourceTable VARCHAR(255) 
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the source table name is provided
    IF @SourceTable IS NULL OR @SourceTable = ''
    BEGIN
        RAISERROR('Source table name cannot be null or empty.', 16, 1);
        RETURN;
    END 

    -- Construct the target table name
    DECLARE @TargetTableName NVARCHAR(MAX) =  QUOTENAME('z_'+ @SourceTable+'_at');

    -- Insert data from the source table into the target table
    -- EXEC(N'SELECT * INTO ' + @TargetTableName + ' FROM ' + @SourceTable);
	   
    DECLARE @TableCreateSQL NVARCHAR(MAX) = '';

	 SELECT @TableCreateSQL +=  ' '+QUOTENAME(COLUMN_NAME) + ' varchar(255), '
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = @SourceTable;
	
    EXEC('CREATE TABLE '+@TargetTableName +' ('+@TableCreateSQL + ')');
	  
	 -- Add the new columns to the target table
    DECLARE @AlterTableSQL NVARCHAR(MAX);
    SET @AlterTableSQL = N'ALTER TABLE ' + @TargetTableName + 
                          ' ADD ' +
                          ' AT_ACTION TEXT, ' +
                          ' IP_ADDRESS TEXT, ' +
						  ' MOTHERBOARD_SERIAL_NO TEXT, ' +
						  ' MACHINE_NAME TEXT, ' +
                          ' AT_DATE TEXT, ' +
                          ' AT_USER_ID TEXT, ' +
                          ' AT_USER TEXT;';

    -- Execute the ALTER TABLE statement to add the new columns
    EXEC(@AlterTableSQL);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSalesOrdersFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE      PROCEDURE [dbo].[sp_GetAllSalesOrdersFromJobOrders]
    @UserId int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
			so.order_id AS id,
            bpg.branch_name AS customer,
            bpi.tin AS tin,
            so.doc AS code,
            shipAddr.location AS delivery_to,
            billAddr.location AS bill_to,
            so.doc AS doc_no,
            so.date AS date,
            so.delivery_date AS delivery_date,
			so.ref_po AS reference_doc,
            so.status AS status
        FROM dbo.tbl_trans_sales_order AS so
        INNER JOIN dbo.tbl_bpi_general AS bpg
            ON so.customer_id = bpg.id
        INNER JOIN dbo.tbl_bpi AS bpi
            ON bpg.based_id = bpi.id
        LEFT JOIN dbo.tbl_bpi_address AS shipAddr
            ON so.ship_to_id = shipAddr.id
        LEFT JOIN dbo.tbl_bpi_address AS billAddr
            ON so.bill_to_id = billAddr.id
        WHERE so.approved_by_id = @UserId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

SELECT COLUMN_NAME, DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'tbl_trans_sales_order' AND COLUMN_NAME = 'doc';
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBinLocationItem]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBinLocationItem]
    @ItemId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            a.bin_location AS location,
            a.warehouse_id,
            a.item_id,
            a.uom AS stock_uom,

            -- Compute new stock qty:
            -- a.qty_in - SUM(b.req_qty for same inventory stock id)
            a.qty_in - ISNULL(SUM(b.req_qty), 0) AS stock_qty

        FROM dbo.tbl_inv_stocks_location AS a
        LEFT JOIN tbl_inv_stocks_location_history AS b
            ON a.id = b.inventory_stock_id

        WHERE a.item_id = @ItemId
          AND a.bin_location IS NOT NULL
          AND LTRIM(RTRIM(a.bin_location)) <> ''

        GROUP BY
            a.bin_location,
            a.warehouse_id,
            a.item_id,
            a.uom,
            a.qty_in;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBpiGeneralList]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_GetBpiGeneralList]
AS
BEGIN
    SELECT
	a.id,
	a.based_id,
	a.social,
	a.branch_name,
	a.transaction_type,
	a.class_name,
	a.branch_tel_no,
	a.branch_website,
	a.customer_code,
	a.supplier_code,
	a.fax_no,
	a.notes,
	c.industry_ids AS branch_industry_ids,
	c.industry_names AS branch_industry_names,
	d.entity_ids,
	d.entity_names
FROM tbl_bpi_general a
LEFT JOIN (
	SELECT
			ISNULL(STRING_AGG(b.industry_id, ','),'')  AS industry_ids,
			ISNULL(STRING_AGG(b.code, ','),'') AS industry_names,
			b.bpi_general_id
		FROM tbl_bpi_branch_industries a
		LEFT JOIN (
			SELECT 
				bb.id,
				aa.bpi_general_id,
				bb.code,
				aa.industry_id
			FROM tbl_bpi_branch_industries aa
			LEFT JOIN tbl_setup_bpi_industries bb ON aa.industry_id = bb.id
			GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.industry_id	
		) b ON a.bpi_general_id = b.bpi_general_id AND a.industry_id = b.id
		GROUP by b.bpi_general_id
) c ON a.id = c.bpi_general_id
LEFT JOIN
	(
	SELECT
			ISNULL(STRING_AGG(b.entity_id, ','),'')  AS entity_ids,
			ISNULL(STRING_AGG(b.code, ','),'') AS entity_names,
			b.bpi_general_id
		FROM tbl_bpi_entity a
		LEFT JOIN (
				SELECT 
					bb.id,
					aa.bpi_general_id,
					bb.code,
					aa.entity_id
				FROM tbl_bpi_entity aa
				LEFT JOIN tbl_setup_bpi_entity bb ON aa.entity_id = bb.id
				GROUP BY bb.id,aa.bpi_general_id,bb.code,aa.entity_id
		) b ON a.bpi_general_id = b.bpi_general_id AND a.entity_id = b.id
		GROUP by b.bpi_general_id
	) d ON a.id = d.bpi_general_id

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBpiList]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBpiList]
AS
BEGIN
  SELECT
        a.id AS id,
		a.sales_id,
        a.name AS name,
		a.main_website,
		a.tin,
		a.main_tel_no,
        c.industry_names,
        c.industry_ids
    FROM
        tbl_bpi a
    LEFT JOIN (
		SELECT
				ISNULL(STRING_AGG(b.industry_id, ','),'')  AS industry_ids,
				ISNULL(STRING_AGG(b.code, ','),'') AS industry_names,
				b.bpi_id
			FROM tbl_bpi_industries a
			LEFT JOIN (
				SELECT bb.id,
						aa.bpi_id,
						bb.code,
						aa.industry_id
				FROM tbl_bpi_industries aa
				LEFT JOIN tbl_setup_bpi_industries bb ON aa.industry_id = bb.id
				GROUP BY bb.id,aa.bpi_id,bb.code,aa.industry_id
			) b ON a.bpi_id = b.bpi_id AND a.industry_id = b.id
			GROUP by b.bpi_id
	) c on a.id = c.bpi_id

	WHERE ISNULL(c.industry_names,'') <> ''

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetComponents]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[sp_GetComponents]
    @BomId int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            bod.id AS id,
            itn.name AS name,
			bod.bom_qty AS quantity,
			bod.bom_qty AS stock
        FROM dbo.tbl_trans_sales_order_details AS so
		INNER JOIN dbo.tbl_setup_item_bom AS bom
			ON so.bom_id = bom.id
		INNER JOIN dbo.tbl_setup_item_bom_details AS bod
			ON bom.id = bod.item_bom_id
		INNER JOIN dbo.tbl_setup_item AS i
			ON bod.item_id = i.id
		INNER JOIN dbo.tbl_setup_item_name AS itn
			ON i.item_name_id = itn.id
        WHERE so.bom_id = @BomId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeByType]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEmployeeByType] 
	-- Add the parameters for the stored procedure here
	@EmployeeId VARCHAR(100) 
	
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		*
	FROM tbl_setup_users WHERE department = @EmployeeId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEngineeringRedboxJobOrder]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetEngineeringRedboxJobOrder]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            so.order_id AS id,
            bpi.branch_name AS client_name,
            so.doc AS document_no,
            COUNT(sod.order_details_id) AS items, -- count of rows in sod per order
            so.project_name AS project_name,
            so.delivery_date AS due_date,
            MAX(i.item_model) AS type -- pick one representative value if needed
        FROM dbo.tbl_trans_sales_order AS so
        INNER JOIN dbo.tbl_trans_sales_order_details AS sod
            ON so.order_id = sod.based_id
        INNER JOIN dbo.tbl_setup_item AS i
            ON sod.item_id = i.id
        INNER JOIN dbo.tbl_bpi_general AS bpi
            ON so.customer_id = bpi.id
        WHERE so.approved_by_id = @UserId
        GROUP BY 
            so.order_id,
            bpi.branch_name,
            so.doc,
            so.project_name,
            so.delivery_date;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetJobOrders]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
			ISNULL(jo.job_order_id, 0) AS id,
			sod.bom_id AS bom_id,
			sod.order_details_id AS order_details_id,
			so.date AS date,
			so.doc AS sales_order,
			jo.materials AS materials,
			sod.qty AS quantity,
			jo.due AS due,
			jo.a_engr AS a_engr,
			jo.item_rqst AS item_rqst,
			jo.status AS status,
			itn.name AS general_name,
			jo.serial_no AS serial_no,
			jo.report AS report,
			jo.report_base AS report_base,
			i.item_model AS type,
			ias.long_description AS item_desc
        FROM dbo.tbl_trans_sales_order AS so
        INNER JOIN dbo.tbl_trans_sales_order_details AS sod
            ON so.order_id = sod.based_id
        INNER JOIN dbo.tbl_setup_item AS i
            ON sod.item_id = i.id
		INNER JOIN dbo.tbl_setup_item_name AS itn
			ON i.item_name_id = itn.id
		INNER JOIN tbl_setup_item_additional_specs ias
			ON ias.based_id = i.id
        LEFT JOIN dbo.tbl_trans_job_order AS jo
            ON sod.order_details_id = jo.order_details_id
        WHERE so.approved_by_id = @UserId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderDetailsInvoice]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPurchaseOrderDetailsInvoice]
    @PurchaseId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
		    pod.id,
			pod.based_id,
			pod.item_code,
			pod.item_description,
			pod.unit_of_measure AS order_uom,
			pod.order_qty,
			pod.unit_of_measure AS req_uom,
			pod.req_qty AS item_qty,
			pod.discounted_price AS unit_price,
			pod.total_price AS total_cost
        FROM dbo.tbl_accounting_invoice_receipt_details AS ird
		LEFT JOIN tbl_purchasing_purchase_order_details AS pod
			ON ird.purchase_order_details_id = pod.id
		LEFT JOIN tbl_purchasing_purchase_order AS po
			ON pod.based_id = po.id
        WHERE pod.based_id = @PurchaseId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrderInvoice]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPurchaseOrderInvoice]
    @SupplierId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
		    po.id,
			po.doc_no AS po_number,
			po.date AS doc_date,
			po.supplier_name AS supplier_name
        FROM dbo.tbl_purchasing_purchase_order AS po
        WHERE po.supplier_id = @SupplierId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPurchaseOrders]
    @PoId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            po.id AS purchase_order_id,
            po.supplier_id,
            po.supplier_name,
            po.supplier_code,
            po.doc_no,
            pod.id AS pod_id,
            pod.item_id,
			pod.order_qty,
            ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS total_received_qty,
            pod.order_qty - ISNULL(SUM(CAST(wh.received_qty AS INT)), 0) AS ordered_qty,
			pod.unit_of_measure AS ordered_uom,
			pod.item_code,
			ias.long_description AS item_description
        FROM tbl_inv_warehouse_receiving_history wh
		LEFT JOIN tbl_purchasing_purchase_order po
            ON wh.purchase_order_id = wh.purchase_order_id
        INNER JOIN tbl_purchasing_purchase_order_details pod
            ON wh.purchase_order_details_id = pod.id
		INNER JOIN tbl_setup_item i
			ON pod.item_id = i.id
		INNER JOIN tbl_setup_item_additional_specs ias
			ON i.id = ias.based_id
        WHERE po.id = @PoId
        GROUP BY 
            po.id,
            po.supplier_id,
            po.supplier_name,
            po.supplier_code,
            po.doc_no,
            pod.id,
            pod.item_id,
            pod.order_qty,
			pod.unit_of_measure,
			pod.item_code,
			ias.long_description
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesOrderDetailsFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetSalesOrderDetailsFromJobOrders]
    @OrderId int
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
            sod.item_code AS item_code,
            sod.item_description AS item_desc,
			sod.qty AS stock,
            sod.qty AS req_qty,
			sod.delivery_preference AS remark,
            sod.status AS status
        FROM dbo.tbl_trans_sales_order_details AS sod
		INNER JOIN dbo.tbl_trans_sales_order AS so
			ON sod.based_id = so.order_id
        WHERE sod.based_id = @OrderId;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesOrdersFromJobOrders]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_GetSalesOrdersFromJobOrders]
    @SalesOrder VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT
			so.order_id AS id,
            bpg.branch_name AS customer,
            bpi.tin AS tin,
            so.doc AS code,
            shipAddr.location AS delivery_to,
            billAddr.location AS bill_to,
            so.doc AS doc_no,
            so.date AS date,
            so.delivery_date AS delivery_date,
			so.ref_po AS reference_doc,
            so.status AS status
        FROM dbo.tbl_trans_sales_order AS so
        INNER JOIN dbo.tbl_bpi_general AS bpg
            ON so.customer_id = bpg.id
        INNER JOIN dbo.tbl_bpi AS bpi
            ON bpg.based_id = bpi.id
        LEFT JOIN dbo.tbl_bpi_address AS shipAddr
            ON so.ship_to_id = shipAddr.id
        LEFT JOIN dbo.tbl_bpi_address AS billAddr
            ON so.bill_to_id = billAddr.id
        WHERE so.doc = @SalesOrder;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;

SELECT COLUMN_NAME, DATA_TYPE 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME = 'tbl_trans_sales_order' AND COLUMN_NAME = 'doc';
GO
/****** Object:  StoredProcedure [dbo].[sp_SetOrderStatus]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_SetOrderStatus] 
	@OrderDetailId int, @OrderType nvarchar(5)
AS
-- Update sales order details if OrderType is 'SO'
IF @OrderType = 'SO'
	BEGIN
		UPDATE tbl_trans_sales_order_details
		SET status = CASE 
				WHEN allocated_qty >= qty THEN 'WAITING FOR DELIVERY'
				ELSE 'CANVASS'
			END
		WHERE order_details_id = @OrderDetailId
	END
-- Update sales order details if OrderType is 'PR'
ELSE IF @OrderType = 'PR'
	BEGIN
		UPDATE tbl_purchasing_purchase_requisition_orders
		SET status = CASE
		WHEN allocated_qty >= qty THEN 'WAITING FOR DELIVERY'
				ELSE 'CANVASS'
			END
		WHERE pr_order_id = @OrderDetailId
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_tax_setup_classification]    Script Date: 2/19/2026 10:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Jerome Obogne
-- Create Date: 6/23/2025
-- Description: Returns the tax setup filter by  chart of account class.
-- =============================================
CREATE PROCEDURE [dbo].[sp_tax_setup_classification]
	-- Add the parameters for the stored procedure here
		@code nvarchar(20) = null 
AS
BEGIN

	SET NOCOUNT ON;
	SELECT 
		a.id,
		a.code,
		a.input_tax_creditable,
		a.tax_desc,
		b.tax_rate,
		c.id as account_id,
		 'ACTIVE' as status
	FROM tbl_setup_tax a 
	INNER JOIN tbl_setup_tax_details b ON a.id = b.tax_code_id
	INNER JOIN tbl_setup_chart_of_accounts c ON a.coa_sales_id = c.id OR a.coa_purchase_id = c.id
	INNER JOIN tbl_setup_chart_class e ON e.id = c.class_id AND e.code = @code
	WHERE b.valid_from = (
    SELECT MIN(sub.valid_from)
    FROM tbl_setup_tax_details sub
    WHERE sub.tax_code_id = a.id
    AND NOT EXISTS (
        SELECT 1 FROM tbl_setup_tax_details prev
        WHERE prev.tax_code_id = a.id
        AND prev.valid_from < sub.valid_from
        AND (prev.valid_to >= GETDATE() OR prev.valid_to IS NULL)
    )
    AND (sub.valid_to >= GETDATE() OR sub.valid_to IS NULL)
)
END
GO
